<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light m-0  mb-1" style="background-color: rgb(52 58 64); height: 40px;">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">MovieStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <button class="nav-link text-muted dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genres
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>